.jumbotron {
  padding: 10px;
  background-image: linear-gradient(to right, #26c583, #148865);
  color: white;
  margin: 0;
  position: relative;
}

nav {
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0px;
}

li:hover { 
  background-color: #26c583;
}

#text {
  font-size: 40px;
}

h2 span {
  font-family: 'Cantarell', sans-serif;
  font-size: 60px;
  position: absolute;
  text-align: center;
  top: 150px;
  left: 10px;
  background: transparent;
  color: black;
  height: 600px; /* Full width */
  padding: 50px; /* Some padding */
}

.btn {
  background-color: #26c583;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin: 4px;
  border-radius: 12px;
}

#reserveVisit .modal-header {
  background-color: #26c583;
  color: white; 
}

#backgroundimg {
  background-size: cover;
  height: 800px;
  position: relative;
  overflow: hidden;
} 

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

#round {
  position: relative;
  width: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
}

footer {
  background-image: linear-gradient(#26c583, #148865);
  padding: 20px;
}