.jumbotron {
  padding: 10px;
  background-image: linear-gradient(to right, #26c583, #148865);
  color: white;
  margin: 0;
}

nav {
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0px;
}

li:hover { 
  background-color: #26c583;
}

#backgroundimg {
  background-size: cover;
  height: 800px;
  position: relative;
  overflow: hidden;
} 

h2 span {
  font-family: 'Cantarell', sans-serif;
  font-size: 60px;
  position: absolute;
  top: 150px;
  left: 10px;
  background: transparent;
  color: black;
  height: 600px; /* Full width */
  padding: 50px; /* Some padding */
}



footer {
  background-image: linear-gradient(#26c583, #148865);
  padding: 20px 0;
}